*.save
*.save
*.txt
*.save
*.save
game/saves/auto-10-LT1.save
*.save
*.save
game/saves/persistent
*.rpyc
*.rpyb
game/saves/persistent
game/saves/persistent
game/script.rpyc
game/saves/navigation.json
game/cache/screens.rpyb
game/cache/bytecode.rpyb
*.rpyc
*.rpyb
game/laur-fte.rpyc
*.rpyb
game/images/montage.mpeg
game/cache/screens.rpyb
game/cache/bytecode.rpyb
game/saves/persistent
*.rpyb
game/cache/bytecode.rpyb
game/cache/screens.rpyb
game/saves/persistent
